
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(rgba(0.0.0.0.7),rgba(0.0.0.0.7)),url(images/home2.jpg);
    background-image: url(images/home1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    transition: transform 0.5s;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width:50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    font-size: 15px;
}
nav ul li :hover{
    transform: translateX(-5px);
    transition: transform 0.5s;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(253, 253, 253);
    font-size: 100px;
}
p{
    color: rgb(250, 250, 250);
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 12px 0;
    background: rgb(64, 63, 122);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    transform:translateX(-5px) ;
}
button a{
    width: 180px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px 0;
    background: rgb(45, 44, 119);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    text-decoration-color: #fff;
    border-radius: 10px;
    padding: 12px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/pic-1.png);
    background-position: center;
    background-size: cover;
}


.card1{
    background-image: url(images/img.jpg);
}
.card2{
    background-image: url(images/img6.jpg);
}
.card3{
    background-image: url(images/img5.jpg);
}
.card4{
    background-image: url(images/pic-3.png);
}

.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #000;
}